:root {
    --cell-width-and-height: 60px;
    --main-black-color: black;
    --main-white-color: white;
    --main-brown-black-color: rgb(100, 40, 11);
    --main-brown-white-color: rgb(226, 185, 126);
}

table {
    table-layout: fixed;
    border: 1px solid var(--main-black-color);
}

td,
th {
    border: 1px solid var(--main-black-color);
    width: var(--cell-width-and-height);
    height: var(--cell-width-and-height);
}

.brown-black {
    background-color: var(--main-brown-black-color);
}

.brown-white {
    background-color: var(--main-brown-white-color);
}